# untracked folders with data
ptbdb/
newptbdb/

# untracked folder with toolbox
wfdb-app-toolbox-0-9-9/

# untracked folder with images
rys/

# untracked folder with output
output/

# untracked .mat files
*.mat

# untacked .dat files
*.dat

# untracked .hea files
*.hea

# untracked .asv files
*.asv

# untracked temp openOffice files
.~lock.*

#untracked other file
BandpassFilter_0.01-12